@import "../../../common.scss";
@import "../../../variables.scss";

.navbar-main-container {
  width: 100%;
  .navbar-container {
    margin: auto;
    display: flex;
    height: 100px;
    @include for-mobile {
      width: 100%;
      padding: 10px;
    }

    @include for-tablet {
      width: 90%;
      padding: 10px;
    }

    @include for-laptop {
      width: 90%;
    }

    @include for-desktop {
      width: 90%;
    }

    @apply items-center justify-between;
    .right-sideof-navbar {
      > ul {
        list-style-type: none;
        @apply font-semibold;
        > li {
          text-align: center;
          cursor: pointer;
          > .get-it-now-btn {
            color: $primary-color;
            padding: 10px 25px;
            border: 2px solid $primary-color;
            border-radius: 10px;
          }
          > .white-btn {
            color: white;
            padding: 10px 25px;
            border: 2px solid white;
            border-radius: 10px;
          }
        }

        @include for-desktop {
          display: flex;
          gap: 40px;
          align-items: center;
        }
        @include for-laptop {
          display: flex;
          gap: 40px;
          align-items: center;
        }

        @include for-mobile {
          display: none;
        }

        @include for-tablet {
          display: none;
        }
      }
    }
    .drawer-container {
      @apply lg:hidden z-10;
    }
  }
}
