@import "../../../variables.scss";

.google__signin__btn {
  background-color: $primary-color;
  color: $text-color;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  @apply flex items-center h-12 rounded w-full text-center font-semibold mt-8;
  > p {
    width: 100%;
    text-align: center;
  }
  .google_icon_block {
    background-color: white;
    padding: 7px;
    margin: 5px;
    @apply rounded;
  }
}
