@import "../../../../variables.scss";

.pages-popover-container {
  margin-top: 20px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.16);
  padding: 20px;
  color: black;
  > ul {
    @apply flex flex-col gap-4;
    > li {
      text-align: start;
      @apply flex justify-between items-center;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
