@import "../../common.scss";
@import "../../variables.scss";

.signup__container {
  @include for-mobile {
    width: 100%;
    padding: 10px;
  }

  @include for-tablet {
    width: 50%;
  }

  @include for-laptop {
    width: 25%;
  }

  @include for-desktop {
    width: 25%;
  }
}
