@import "../../common.scss";
@import "../../variables.scss";

.error-404-page-container {
  margin: auto;
  height: 100vh;

  @apply flex flex-col gap-4 items-center justify-center;

  .top-text {
    @apply font-extrabold text-4xl text-center;
  }
  .top-sub-text {
    @apply font-extralight text-base text-center;
  }
  @include for-mobile {
    width: 100%;
    padding: 10px;
  }

  @include for-tablet {
    width: 75%;
  }

  @include for-laptop {
    width: 50%;
  }

  @include for-desktop {
    width: 50%;
  }
}
