@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HK Grotesk";
  src: url("./assets/fonts/HKGrotesk-RegularLegacy.otf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "HK Grotesk", sans-serif;
}
