@import "../../common.scss";
@import "../../variables.scss";

.reset-password-page-container {
  @apply mx-auto bg-white my-6;
  > .top-text {
    @apply text-2xl font-extrabold text-center md:text-3xl mb-4;
  }
  > .top-sub-text {
    @apply font-extralight text-center mb-8;
  }

  .form-container {
    > .input-box {
      @apply flex flex-col gap-2 mb-4;
      > label {
        @apply font-semibold;
      }
      > input {
        @apply placeholder-gray-600 border rounded w-full py-3 px-3  focus:outline-none;
      }
    }
  }

  @include for-mobile {
    width: 100%;
    padding: 10px;
  }

  @include for-tablet {
    width: 50%;
  }

  @include for-laptop {
    width: 25%;
  }

  @include for-desktop {
    width: 25%;
  }
}
